* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
}

.form-1 {
    height: 300px;
    width: 250px;
    background-color: rgb(9, 55, 95);
}

small {
    color: red;
}

#hide {
    display: none;
}

.form-2 {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    background-color: rgb(85, 7, 196);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: start;
    justify-content: center;
    padding: 0px 20px;
    color: white;
}

.form-2 h3 {
    margin-bottom: 10px;
    margin-left: 10px;
}

.form-2 input {
    background-color: black;
    border: 1px solid rgb(104, 102, 102);
    padding: 5px 0px;
    border-radius: 5px;
    color: whitesmoke;
}

.form-2 button {
    padding: 5px 61px;
    background-color: rgb(11, 92, 255);
    border: none;
    color: white;
    border-radius: 5px;
}

.error {
    display: none;
}

#resultmsg {
    display: none;
}